.playgame{
    visibility: hidden;
}
.body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    text-align: center;
    width:456px ;
}
.board{
    position: relative;
    
}
.rows{
    display: flex;
 
   justify-content: center;
    
    height: 150px;
}
.row{
    
    background-color: #f1f1f1;
    width: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 8em;
  border: 1px solid black  ;
  cursor: pointer;
}
.xRow{
   color: red;
    pointer-events: none;

}
.oRow{
    color: yellow;
    pointer-events: none;
}
.newRow{
    background-color: white;
}
.banggg{
    pointer-events: none;
}
.scorexo{
    border: 1px solid black;
    width: 120px;
    height: 40px;
    display: flex;
    margin-bottom: 5px;
    border-radius: 5px;
}
.title{
    width: 60px;
    height: 20px;
    
}
.score{
    width: 60px;
    height: 20px;
    
}
.rowwin{
    background-color:#469C9C;
}
.gachngang{
    position: absolute;
    background-color: red;
}
.gachngang-0-3-6{
    top: 0%;
    height: 100%;
    width: 4px;
    left: 17%;
   
}
.gachngang-1-4-7{
    top: 0%;
    height: 100%;
    width: 4px;
    left: 50%;
   
}
.gachngang-2-5-8{
    top: 0%;
    height: 100%;
    width: 4px;
    right: 17%;
   
}
.gachngang-0-1-2{
 top:16.5%;
 height: 4px;
 width: 100%;
 

}
.gachngang-3-4-5{
    top:50%;
    height: 4px;
    width: 100%;
    
   
   }
   .gachngang-6-7-8{
    bottom: 16%;
    height: 4px;
    width: 100%;
    
   
   }
   .gachngang-0-4-8{
    top:50%;
    height: 4px;
    width: 100%;
   transform: skewY(44.5deg);
   }
   .gachngang-2-4-6{
    top:50%;
    height: 4px;
    width: 100%;
   transform: skewY(135.5deg);
   }
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
@media(max-width:768px){
    body{
        width: 100vw;
    }
    .board{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .rows{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

    }
    .row{
        width: auto;
    }
}